<section class="page-section">
  <div class="content-details">
    <div class="pendulm-platform">
      <div class="pendulm-holder"></div>
      <div class="pendulm-thread">
        <div class="pendulm-knob"></div>
        <div class="pendulm">404</div>
      </div>
      <div class="pendlum-shadow"></div>
    </div>
    <div class="text-details">
      <h4 class="sub-title">Oops!</h4>
      <p class="detail-text">We 're sorry,<br>The page were looking for dosen't exist anymore.</p>
      <div class="back-btn">
        <button (click)="goToLogin()" class="btn">Back to Login</button>
      </div>
    </div>
  </div>
  <div class="animated-shape">
    <span class="shape"></span>
    <span class="shape"></span>
    <span class="shape"></span>
  </div>
</section>