<app-header></app-header>
<div class="home-container">
  <div class="all-Movies">
    <div class="trending-movies">
      <div class="top">
        <div class="title">
          <h4>Trending Movies</h4>
        </div>
        <div class="view-all">View All</div>
      </div>
      <div class="movie-thumbnail">
        <div class="movie" *ngFor="let movie of trendingMovies">
          <div class="cover-image">
            <div class="cover" (click)="goToMovie('trending',movie.id)">
              <img [src]="movie.cover" alt="">
            </div>
          </div>
          <div class="details">
            <div class="name">{{ movie.name }}</div>

            <div class="rating">{{ movie.rating }}</div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <div class="theatre-movies my-3">
      <div class="top">
        <div class="title">
          <h4>All Movies</h4>

        </div>
        <div class="view-all">View All</div>
      </div>
      <div class="movie-thumbnail">
        <div class="movie" *ngFor="let movie of theatreMovies">
          <div class="cover-image">
            <div class="cover" (click)="goToMovie('theatre',movie.id)">
              <img [src]="movie.cover" alt="">
            </div>
          </div>
          <div class="details">
            <div class="name">{{ movie.name }}</div>

            <div class="rating">{{ movie.rating }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="popular-movie">
    <div class="title">
      <h4>All Time Popular</h4>
    </div>
    <div class="movie" *ngFor="let movie of popularMovies">
      <div class="cover-image">
        <div class="cover" (click)="goToMovie('popular',movie.id)">
          <img [src]="movie.cover" alt="">
        </div>
      </div>
      <div class="details">
        <div class="name">{{ movie.name }}</div>

        <div class="rating">{{ movie.rating }}</div>
      </div>
    </div>
  </div>
</div>