.movie-container {
  color: white;
  width: 500px;
  margin: 0 auto;

  .top {
    display: flex;
    margin-top: 20px;

    .left {
      width: 450px;

      .name {
        font-size: 36px;
        font-weight: bolder;
      }

      .cover {
        width: 400px;
        height: 500px;
        margin-right: 50px;
        box-shadow: 1px 1px 15px #363636;
        border-radius: 10px;

        img {
          width: 100%;
          border-radius: 10px;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}